<div>
    <p>Widget:</p>
    <b style="color:red;">
        Losowa liczba: {{randNum}}
        </b>
        <br>
        <p>
            godzina: {{ currentDate | date('Y-m-d H:i')}}
        </p>
</div>