

{% extends "index.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p><h2>Error 404</h2></p><br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p><h4>Podana strona nie istnieje</h4></p>
        </div>
    </div>
</div>

{% endblock %}