<html>
    <head></head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap4/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    {% block style %}
    {% endblock %}
    <body>
        <div class="container">
    
                    <header class="blog-header py-3">
                        <div class="row flex-nowrap justify-content-between align-items-center">
                          <div class="col-4 pt-1">
                            <a class="text-muted" href="#">Subscribe</a>
                          </div>
                          <div class="col-4 text-center">
                            <h3>
                                <a class="blog-header-logo text-dark" href="#">Large</a>
                            </h3>
                          </div>
                          <div class="col-4 d-flex justify-content-end align-items-center">
                            <a class="text-muted" href="#">
                              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
                            </a>
                            
                            <a class="btn btn-sm btn-outline-secondary" href="https://getbootstrap.com/docs/4.0/examples/blog/">Przyklad Szablonu</a>

                            <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
                          </div>
                        </div>
                      </header>
           
                      <div class="nav-scroller py-1 mb-2">
                        <nav class="nav d-flex justify-content-between">
                          <a class="p-2 text-muted" href="/">index</a>
                          <a class="p-2 text-muted" href="/kontakt/123">Kontakt</a>
                          <a class="p-2 text-muted" href="#">Technology</a>
                          <a class="p-2 text-muted" href="#">Design</a>
                          <a class="p-2 text-muted" href="#">Design</a>
                          <a class="p-2 text-muted" href="#">Design</a>
                          <a class="p-2 text-muted" href="#">Design</a>
                          <a class="p-2 text-muted" href="#">Design</a>
                        </nav>
                      </div>

                      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
                        <div class="col-md-6 px-0">
                          <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
                          <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
                          <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
                        </div>
                      </div>
                      {# END MENU  #}
                      
                      <div class="row">
                        <div class="col-sm-10">
                          {% include 'alerts.html' %} <br>

                          {% block body %}{% endblock %}
                        </div>
                        <div class="col-sm-2">{{ global.widget.index | raw }}</div>
                      </div>
        </div>
  
        <script src="/js/main.js"></script>
        <script src="/js/package/jquery/jquery-3.4.1.slim.min.js"></script>
        <script src="/js/package/jquery/popper.min.js"></script>
        <script src="/js/package/bootstrap4/bootstrap.min.js"></script>
        {% block javascript %}
        {% endblock %}
    </body>
</html>