

{% extends "index.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h4>SubTemplate</h4>
    <h3>Hello</h3>
    <button class="btn btn-primary">jakisKlik</button>
        </div>
    </div>
    <div class="row">
{# 
{{a}}
        {% set filter = app.session.get('alerts') %}
       TUTAJ: {{filter['type']}} #}

    </div>
    <div class="row">
        <div class="col-sm-12">
            {% if users %}
            <h4>Przyklad danych z db</h4>
            <ul>
                {% for user in users %}
                <li>{{user.id}} - {{user.email}}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form action="" method="post">
                <input type="text" name="test[name]" id="">
                <input type="submit" value="wyslij">
            </form>
        </div>
    
    </div>

</div>





{% endblock %}