
{% extends "index.html" %}

{% block body %}
<h2>
    Kontakt {{id}}
</h2>
<form action="post">
    <div class="form-group">
        <input type="text" name="email" id="" class="form-control">
    </div>
    <div class="form-group">
        <textarea name="content" id="" cols="30" rows="5" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <input type="submit" value="wyślij" class="form-control btn-primary">
    </div>
</form>
{% endblock %}